<:Title>
  {{ template main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div class="container-fluid">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <:nav href="/" text="Forsiden" />
        <:nav href="/jobs" text="Opgaver" />
        <:nav href="/about" text="Kontakt" />
      </ul>
      <h3 class="text-muted">SL2017</h3>
    </div>

    <:volt:notices />

    {{ template main_path, 'body', {controller_group: 'main'} }}

    <div class="footer">
			<p>
				Jobber Database for <br/><strong>Spejdernes Lejr 2017</strong>
				<span style="float: right"><small> hosted by: ALCO Company {{ this_year }}</small></span>
			</p>
    </div>

  </div>

<:Nav>
  <li class="{{ if url.path.split('/')[1] == attrs.href.split('/')[1] }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ attrs.text }}</a>
  </li>

